@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../assets/fonts/OpenSans/OpenSans-LightItalic.ttf');
}

* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background: #f3f3f3;
    font-family: 'OpenSans-Regular', sans-serif;
    color: #333333;
    max-width: 1440px;
    margin: 0 auto;
}
.noul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hide {
    display: none !important;
}
