.main-content h1 {
    margin: 0;
}
.main-content .products {
    margin: 0 auto;
    text-align: center;
}
.main-content .header {
    margin: 2em 0.5em;
}
.main-content .header .name,
.main-content .header .name h3,
.main-content .header .name span {
    display: inline-block;
    vertical-align: bottom;
}
.main-content .header .name {
    vertical-align: middle;
    width: 30%;
}
.main-content .header h3 {
    margin: 0;
}
.main-content .header span {
    padding: 0 0 0 0.5em;
}
@media only screen and (max-width: 768px) {
    .main-content {
        margin: 0;
    }
    .main-content .header .name {
        width: 100%;
    }
}
